<section class="subscribe">
    <div class="container">
        <h4 class="subscribe__title">Fork Subscription Pricing</h4>
        <div class="subscribe__block">
            <div class="subscribe__block__item">
                <h6 class="subscribe__block__item__title">Students</h6>
                <div class="subscribe__block__item__info">
                    <span class="subscribe__block__item__info-cost">$29</span>
                    <span class="subscribe__block__item__info-period">per month</span>
                    <span class="subscribe__block__item__info-count">Personal License</span>
                    <button class="subscribe__block__item__info-btn">purchase</button>
                </div>
            </div>
            <div class="subscribe__block__item">
                <h6 class="subscribe__block__item__title">professional</h6>
                <div class="subscribe__block__item__info">
                    <span class="subscribe__block__item__info-cost">$59</span>
                    <span class="subscribe__block__item__info-period">per month</span>
                    <span class="subscribe__block__item__info-count">Professional License Email Support</span>
                    <button class="subscribe__block__item__info-btn">purchase</button>
                </div>
            </div>
            <div class="subscribe__block__item">
                <h6 class="subscribe__block__item__title">agency</h6>
                <div class="subscribe__block__item__info">
                    <span class="subscribe__block__item__info-cost">$99</span>
                    <span class="subscribe__block__item__info-period">per month</span>
                    <span class="subscribe__block__item__info-count">1-12 Team Members Phone Support</span>
                    <button class="subscribe__block__item__info-btn">purchase</button>
                </div>
            </div>
            <div class="subscribe__block__item">
                <h6 class="subscribe__block__item__title">enterprise</h6>
                <div class="subscribe__block__item__info">
                    <span class="subscribe__block__item__info-cost">$159</span>
                    <span class="subscribe__block__item__info-period">per month</span>
                    <span class="subscribe__block__item__info-count">Unlimited Team Members 24/ 7 Phone Support</span>
                    <button class="subscribe__block__item__info-btn">purchase</button>
                </div>
            </div>
        </div>
    </div>
</section>