<section class="sectionProduct">
    <div class="container">
        <div class="block">
            <div class="productInfo">
                <div class="productInfo__block">
                    <img src="img/rev_icon1.png" alt="icon" class="productInfo__block__img">
                    <div class="productInfo__block__info">
                        <h5 class="productInfo__block__info__title">Creatred to Make The Web Better</h5>
                        <p class="productInfo__block__info__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue. </p>
                    </div>
                </div>
                <div class="productInfo__block">
                    <img src="img/rev_icon2.png" alt="icon" class="productInfo__block__img">
                    <div class="productInfo__block__info">
                        <h5 class="productInfo__block__info__title">Incredibly Powerful Tool</h5>
                        <p class="productInfo__block__info__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                    </div>
                </div>
                <div class="productInfo__block">
                    <img src="img/rev_icon3.png" alt="icon" class="productInfo__block__img">
                    <div class="productInfo__block__info">
                        <h5 class="productInfo__block__info__title">Experimental Stuff</h5>
                        <p class="productInfo__block__info__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                    </div>
                </div>
                <div class="productInfo__block">
                    <img src="img/rev_icon4.png" alt="icon" class="productInfo__block__img">
                    <div class="productInfo__block__info">
                        <h5 class="productInfo__block__info__title">Creatred to Make The Web Better</h5>
                        <p class="productInfo__block__info__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                    </div>
                </div>
            </div>
            <div class="product">
                <h3 class="product__title">&lt;Here is what you get&gt;</h3>
                <img src="img/code.png" alt="code" class="product__blockImage__img">
            </div>
        </div>
             <img src="img/code.png" alt="code" class="product__blockImage__img disable">
    </div>
</section>