.subscribe {
  background: linear-gradient(to bottom, rgba(73, 65, 78, 1) 0%, rgba(74, 65, 77, 1) 21%, rgba(90, 73, 78, 1) 58%, rgba(86, 71, 77, 1) 71%, rgba(74, 65, 77, 1) 86%, rgba(73, 65, 77, 1) 100%);
  padding: 83px 0 149px 0;
  margin-top: -12px;
  @media (max-width: 480px){
    padding-bottom: 10px;
  }
  &__title {
    @extend .fork__title;
    margin-bottom: 112px;
    @media (max-width: 992px){
      margin-bottom: 39px;
    }
    @media (max-width: 480px){
      @include fontChange(28px,42px)
    }
  }
  &__block {
    display: grid;
    grid-template-columns: 257px 257px 299px 257px;
    grid-gap: 15px;
    justify-content: center;
    @media (max-width: 1200px){
      grid-template-columns: 225px 225px 255px 225px;
    }
    @media (max-width: 992px){
      grid-template-columns: 257px 257px;
      grid-template-rows: 457px 457px;
      grid-row-gap: 71px;
      grid-column-gap: 25px;
    }
    @media (max-width: 767px){
      grid-template-columns: 210px 210px;
      grid-column-gap: 10px;
    }
    @media (max-width: 480px){
      grid-template-columns:225px;
      grid-template-rows: 480px;
      grid-row-gap: 14px;
    }
    &__item {
      &__title {
        padding: 36px 0;
        background-color: rgba(112, 96, 112, .6);
        mix-blend-mode: normal;
        text-align: center;
        color: $COLOR_white;
        @include font('Montserrat', normal, normal, 24px, 24px);
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      &__info {
        display: flex;
        flex-direction: column;
        background-color: rgba(97, 82, 99, .6);
        align-items: center;
        padding-bottom: 36px;

        &-cost {
          padding: 30px 0 20px 0;
          color: $COLOR_white;
          @include font('Montserrat', normal, bold, 60px, 90px);
        }

        &-period {
          padding-bottom: 38px;
          color: $COLOR_white;
          @include font('Montserrat', normal, normal, 14px, 16px);
          text-transform: uppercase;
          border-bottom: 5px solid $COLOR_pageMain;
        }

        &-count {
          padding: 36px 0 36px 0;
          color: $COLOR_white;
          @include font('Montserrat', normal, normal, 15px, 15px);
          text-align: center;
          width: 175px;
          height: 30px;
        }

        &-btn {
          padding: 15px 37px;
          color: $COLOR_white;
          @include font('Montserrat', normal, normal, 16px, 18px);
          background-color: rgb(102, 84, 98);
          text-transform: uppercase;
          border: none;
          border-radius: 30px;
          cursor: pointer;
          outline: none;
        }
      }
    }
  }
}
.subscribe__block__item:nth-child(3){
  margin-top: -48px;
  @media (max-width: 992px){
    margin-top: -30px;
    display: grid;
    grid-template-columns: 299px;
    margin-left: -38px;
  }
  @media (max-width: 767px){
    grid-template-columns: 225px;
    margin-left: -14px;
  }
  @media (max-width: 480px){
    grid-template-columns: 299px;
    justify-content: center;
    margin: 0;
  }
  .subscribe__block__item__title{
  background-color: rgb(76, 56, 78);
    padding: 43px 0;
}
  .subscribe__block__item__info{
    background-color: rgba(70, 48, 72, 0.84);
    padding-bottom: 47px;
    .subscribe__block__item__info-cost{
      @include font('Montserrat', normal, normal, 82px, 90px);
      padding: 18px 0 18px 0;
    }
    .subscribe__block__item__info-period{
      padding-bottom: 46px;
    }
    .subscribe__block__item__info-count{
      padding: 50px 0 83px 0;
    }
    .subscribe__block__item__info-btn{
      padding: 19px 48px;
      @include fontChange(16px, 18px)
    }
  }
}