.revolutionary{
  width: 860px;
  margin: 0 auto;
  padding-bottom: 70px;
  @media (max-width: 992px){
    width: 690px;
  }
  @media (max-width: 767px){
    width: 280px;
  }
  @include flex;
  flex-direction: column;
  padding-top: 48px;
  &__btn-trial{
   @include font('Montserrat',normal,normal,14px,15px);
    color: $COLOR_pageText;
    margin-bottom: 66px;
  }
  &__title{
    @include font('Montserrat',normal,bold,54px,54px);
    color: #635C73;
    margin-bottom: 35px;
    text-transform: uppercase;
    @media (max-width: 992px){
      @include fontChange(42px,42px)
    }
    @media (max-width: 767px){
      @include fontChange(26px,28px);
      text-align: center;
    }
  }
  &__text{
    @include font('Lato',normal,normal,21px,32px);
    margin-bottom: 13px;
    color: #323232;
    text-align: center;
    @media (max-width: 767px){
      @include fontChange(14px,20px);
      margin-bottom: 36px;
    }
  }
}
.revolutionary__icon{
  list-style: none;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item{
    display: flex;
    margin: 4px;
  }
  &__link{
    background-color: #f2f2f2;
    padding: 6px 8px;
    color: #24292e;
    text-decoration: none;
    display: flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    &-watch{
      margin-left: 5px;
      @include font('Montserrat', normal, bold, 13px, 15px);
    }
  }
  &__count{
    @include font('Montserrat', normal, bold, 13px, 15px);
    cursor: pointer;
    padding: 6px 5px;
    border: 1px solid #f2f2f2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

}