.sectionProduct {
  background-color: $COLOR_sectionProduct;
  position: relative;
  @media (max-width: 992px){
    background-color: $COLOR_white;
    position: relative;
    padding-bottom: 444px;
  }
  @media (max-width: 767px){
    padding-bottom: 350px;
  }
  @media (max-width: 480px){
    padding-bottom: 250px;
  }
  .block {
    padding-top: 98px;
    display: flex;
    flex-direction: column-reverse;
    @media (max-width: 992px){
      position: relative;
    }
    @media (max-width: 480px) {
      padding-top: 32px;
    }
    .productInfo{
      @media (max-width: 992px){
        @include flex;
        flex-direction: column;
      }
      &__block{
        display: flex;
        margin-bottom: 35px;
        width: 480px;
        @media (max-width: 1200px){
          width: 400px;
          margin-bottom: 10px;
        }
        @media (max-width: 992px){
          width: 627px;
          margin-bottom: 60px;
        }
        @media (max-width: 767px){
          width: 450px;
        }
        @media (max-width: 480px) {
          width: 280px;
          padding: 0 10px;
          flex-direction: column;
          align-items: center;
          margin-bottom: 38px;
        }
        &__img{
          margin-right: 23px;
          min-width: 75px;
          max-height: 75px;
          @media (max-width: 1200px){
            margin-right: 10px;
          }
          @media (max-width: 992px){
            margin-right: 30px;
          }
          @media (max-width: 480px) {
           margin: 0 0  27px 0;
          }
        }
        &__info{
          @media (max-width: 480px) {
            text-align: center;
          }
        }
        &__info__title{
          @include font('Montserrat', normal,normal,16px, 24px);
          margin-bottom: 17px;
          color: #323232;
          @media (max-width: 1200px){
            margin-bottom: 10px;
          }
        }
        &__info__text{
          @include font('Montserrat', normal,normal,14px, 23px);
          color: $COLOR_pageText;
        }
      }
    }
  }
}
.product{
  position: absolute;
  right: 0;
  top: 10%;
  @media (max-width: 1200px){
    top: 15%
  }
  @media (max-width: 992px){
   position: relative;
  }
  &__title {
    @include font('Montserrat', normal, bold, 48px, 50px);
    color: $COLOR_pageMain;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 19px;
    @media (max-width: 992px) {
      margin-bottom: 50px;
      @include fontChange(42px, 44px)
    }
    @media (max-width: 768px) {
      @include fontChange(36px, 40px)
    }
  }
  &__blockImage{
    &__img{
      @media (max-width: 1200px){
        width: 600px;
        height: auto;
      }
      @media (max-width: 992px){
        display: none;
      }
    }
  }
}
@media (max-width: 992px){
  .product__blockImage__img.disable{
    display: block;
    position: absolute;
    right: 0;
    overflow-y: auto;
    @media (max-width: 768px){
      width: 460px;
    }
    @media (max-width: 480px) {
      width: 317px;
    }
  }
}